h1 {
  border: 0.15em solid rgb(0, 0, 0);
  border-radius: 0.45em;
}

.scrollControl {
  border: 0.15em solid rgb(0, 0, 0);
  border-radius: 0.45em;
}

@media (prefers-reduced-motion: no-preference) {
}
